<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <header>
                    <div>
                        <a href="/">
                            <img src="/assets/logo_black.png" alt="logo_foodfy">
                        </a>  
                        
                        <div class="menu">
                            <a href="/about">Sobre</a>
                            <a href="/recipeslist">Receitas</a>
                            <a href="/admin/recipes">Admin</a>
                        </div>
                    </div>
                </header>

                <div class="body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </footer>
        </div>

        <script src="/script.js"></script>
    </body>
</html>