{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy: receitas</title>
{% endblock %}

{% block content %}
    <div class="cards">
        {% for recipe in info.recipes %}
            <div class="card">
                <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                <p class="card-name">{{ recipe.title }}</p>
                <p class="card-author">{{ recipe.author }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}