<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        {% include 'parts/styles.njk' %}
    </head>

    <body>
        {% include 'parts/messages.njk' %}
        
        <div id="page-container">
            <div id="content-wrap">
                {% include 'parts/header.njk' %}
                
                <div class="body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            {% include 'parts/footer.njk' %}
        </div>

        <script src="/script.js"></script>
    </body>
</html>