<!DOCTYPE html>
<html>
    <head>
        <title>Launch Store</title>
        {% include "parts/styles.njk" %}
    </head>

    <body>
        {% include "parts/messages.njk" %}

        {% include "parts/header.njk" %}

        {% block content %}
        {% endblock %}

        {% include "parts/footer.njk" %}
    </body>
</html>