{% extends "layout.njk" %}

{% block head %}
    <title>Curso: {{ card.id }}</title>
{% endblock %}

{% block content %}
    <div class="course {{ card.id }}">
        <img src="{{ card.image_url }}" alt="Logo do curso {{ card.id }}">
        <div class="card-info">
            <p>Módulos: {{ card.modules }}</p>
            <p>{{ card.price }}</p>
        </div>
        <div class="course-link">
            <a href="https://rocketseat.com.br/{{ card.id }}" target="_blank">Acessar</a>
        </div>
    </div>
{% endblock %}