{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy: receitas</title>
{% endblock %}

{% block content %}
    <div class="admin-chef-cards">
        {% for chef in chefs %}
            <div class="admin-chef-card">
                <div>
                    <img src="{{ chef.avatar_path }}" alt="Imagem de {{ chef.name }}">
                </div>
                <div>
                    <h1>{{ chef.name }}</h1>
                    <p>{{chef.total_recipes}} receita(s)</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}