{% extends "layout.njk" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="card">
        <div 
            class="card-image"
            style="background: url({{ student.photo_url }}) no-repeat center center / cover">
        </div>
        
        <div class="card-details">
            <form method="POST" action="/students?_method=PUT">    
                <h3>Edite os dados do Professor</h3>

                {% include 'students/fields.njk' %}

                <input type="hidden" name="id" value="{{ student.id }}">
            </form>

            <form id="form-delete" method="POST" action="/students?_method=DELETE">
                <button type="submit">Deletar</button>
                <input type="hidden" name="id" value="{{ student.id }}">
            </form>
        </div>
    </div>
{% endblock %}