@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.invisible {
    display: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 120px;
}

header {
    padding: 32px 0;
    background-color: white;
}

header.admin {
    background-color: black;
}

header div.header-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 940px;
    margin: auto;
}

header img {
    margin-right: 32px;
    cursor: pointer;
}

.menu a {    
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}

.display-none {
    display: none;
}

.menu-user a {
    color: black;
}

.menu-admin a {
    color: white;
}

.menu-user a:hover {
    border-bottom: 2px solid black;
}

.menu.menu-admin a:hover {
    border-bottom: 2px solid white;
}

.menu-selected {
    font-weight: bold;
}

.div-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.div-form.display-none {
    display: none;
}

header form {
    display: flex;
    margin-left: 32px;
}

header form input {
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-right: 8px;
    padding-left: 16px;
    width: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 32px 0;
}

footer p {
    font-size: 14px;
    color: #999999;
}

.body {
    width: 940px;
    margin: auto;
}

/* === HOME PAGE === */
.board {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin-bottom: 50px;
}

.board-text {
    margin-right: 248px;
}

.board h1 {
    font-size: 32px;
    font-weight: bold;
}

.board p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
    max-width: 316px;
}

.board img {
    margin-top: 66px;
}

#mostAccessed {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.cards img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.cards img:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.card-name {
    font-size: 18px;
    margin: 20px 0 5px 0;
}

.card-author {
    font-size: 14px;
    color: #777777;
}

/* === ABOUT PAGE === */

.about-content h1 {
    font-weight: bold;
    font-size: 24px;
}

.about-content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-top: 20px;
}

.about-content h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

/* === DETAILS PAGE === */
.details-card {
    text-align: center;
}

.details-card img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.details-card .details-preview {
    display: flex;
    justify-content: flex-end;
}

.details-card .details-preview img {
    width: 50px;
    height: 50px;
    border-radius: 3.5px;
    opacity: 0.5;
    margin-left: 10px;
    object-fit: cover;
    cursor: pointer;
}

.details-card .details-preview img.selected {
    opacity: 1;
}

.details-card .details-preview img:hover {
    opacity: 1;
    transition: 200ms;
}

.details-card.details-chef img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.details-card h1 {
    font-size: 36px;
    margin-top: 50px;
}

.details-card p {
    color: #777777;
    font-size: 20px;
    margin: 4px 0 10px 0;
}

.details-info-test{
    border: 1px solid black;
}

.details-info {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;
}

.details-info p {
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
    cursor: pointer;
}

.details {
    height: auto;
}

.details-hidden {
    max-height: 0px;
    visibility: hidden;
}

/* === NOT-FOUND PAGE === */
.not-found-content {
    text-align: center;
}

/* === ADMIN INDEX === */
.admin-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin-header div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.admin-header a,
.admin-header button {
    margin-left: 10px;
    cursor: pointer;
}

#admin-title {
    font-size: 24px;
    margin: 30px 0;
}

.button {
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    padding: 9px 20px;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
}

.button.delete {
    background-color: rgb(224, 82, 82);
}

.admin-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-card div:first-child {
    margin-right: 20px;
}

.admin-card img {
    width: 172px;
    height: 80px;
    object-fit: cover;
    border-radius: 8.57px;
}

.admin-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
    width: 300px;
}

.admin-card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.admin-card a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}

/* === CREATE-EDIT FIELDS === */
.create-edit-fields p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.create-edit-fields input,
.create-edit-fields textarea,
.create-edit-fields select {
    border: 1px solid #DDD;
    width: 100%;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    background-color: white;
    box-sizing: border-box;
}

.create-edit-fields section {
    margin-bottom: 30px;
}

#ingredients div,
#preparations div {
    margin-top: 10px;
}

#ingredients div:first-child,
#preparations div:first-child {
    margin-top: 0px;
}

#ingredients div:last-child,
#preparations div:last-child {
    margin-bottom: 15px;
}

.create-edit-fields a {
    font-size: 16px;
    text-decoration: none;
    color: #6558C3;
    cursor: pointer;
}

.create-edit-fields .delete-ingredient, 
.create-edit-fields .delete-preparation {
    margin-left: 64px;
}

.create-edit-fields textarea {
    height: 260px;
    resize: none;
}

.button {
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    padding: 9px 20px;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
}

.create-edit-fields .avatar-input {
    position: relative;
}

.create-edit-fields .avatar-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;

    border: none;

    width: 136px;
    height: 36px;

    border-radius: 4px;

    opacity: 0;

    cursor: pointer;
}

/* === CHEF INDEX === */
.admin-chef-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.admin-chef-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-chef-card div:first-child {
    margin-right: 20px;
}

.admin-chef-card img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.admin-chef-card h1 {
    font-size: 18px;
    margin-bottom: 5px;
    width: 140px;
    color: #111111;
    font-weight: normal;
}

.admin-chef-card p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666666;
}

.admin-chef-card a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
}

/* === RECIPES FILTER === */
.recipes-filter {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

/* === UPLOAD GALLERY === */
.upload-gallery {
    display: flex;
    
    width: 100%;
    height: 150px;

    gap: 10px;
}

.images-preview {
    display: flex;
}

.upload-gallery .image {
    position: relative;
    cursor: pointer;
}

.upload-gallery .image img {
    width: 150px;
    height: 150px;

    object-fit: cover;

    margin-right: 10px;
}

.upload-gallery .image:hover img {
    opacity: 0.5;
    transition: 200ms;
}

.upload-gallery .image:hover i {
    opacity: 1;
    transition: 200ms;
}

.upload-gallery .image-input i,
.upload-gallery .image i {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    
    font-size: 200%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #777;
}

.upload-gallery .image i {
    opacity: 0;
    font-size: 200%;
    color: red;
}

.upload-gallery .image-input {
    width: 150px;
    height: 150px;

    border: 1px solid #DDD;
    border-radius: 3.5px;

    position: relative;
}

.upload-gallery .image-input input {
    position: absolute;
    left: 0;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;

    overflow: hidden;

    opacity: 0;
    cursor: pointer;
}

