<div class="create-edit-fields">
    <section>
        <p>Nome</p>
        <input type="text" name="name" required value="{{ chef.name }}">
    </section>

    <section>
        <p>Avatar URL</p>
        <input type="url" name="avatarUrl" required value="{{ chef.avatarUrl }}">
    </section>
</div>