{% extends "../layout.njk" %}

{% block content %}
    <div class="admin-header">
        <h1 id="admin-title">Criando chef</h1>
        <div>
            <button class="button" type="submit" form="save-chef">Salvar chef</button>
        </div>
    </div>

    <form id="save-chef" method="POST" action="/admin/chefs" enctype="multipart/form-data">
        {% include "chefs/create-edit-fields.njk" %}
    </form>
{% endblock content %}