<div class="create-edit-fields">
    <section>
        <p>Nome</p>
        <input type="text" name="name" required value="{{ chef.name }}">
    </section>

    <section>
        <p>Avatar URL</p>

        <div class="avatar-input">
            <button class="button">Enviar Avatar</button>
            <input type="file" name="avatar" accept="image/*" 
                {% if not chef.avatarPath %}
                    required    
                {% endif %}
            >
        </div>
    </section>
</div>