<div class="create-edit-fields">
    <section>
        <p>Imagem da receita</p>
        
        <div class="upload-gallery">
            <div class="images-preview invisible">
                {% if files %}
                    {% for image in files %}
                        <div class="image" id="{{ image.id }}">
                            <img src="{{ image.path }}" alt="{{ image.name }}">
                            <i class="material-icons" onclick="ImageUpload.removeOldImage(event)">delete</i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>

            <div class="image-input">
                <i class="material-icons">add</i>
                <input type="file" multiple name="images" accept="image/*" onchange="ImageUpload.handleFileInput(event)" 
                    {% if not files %}
                        required
                    {% endif %}
                >
            </div>
        </div>
    </section>
    
    <section>
        <p>Título da receita</p>
        <input type="text" name="title" required value="{{ recipe.title }}">
    </section>
    
    <section>
        <p>Chef</p>
        <select name="chef_id" required placeholder="Selecione um chef">
            {% for chef in chefs %}
                <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}</option>
            {% endfor %}
        </select>
    </section>
    
    <section>
        <p>Ingredientes</p>
        <div id="ingredients">
            {% if create %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" required>
                </div>
            {% endif %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" required value="{{ ingredient }}">
                </div>
            {% endfor %}
        </div>
        <a class="add-ingredient">Adicionar novo</a>
        <a class="delete-ingredient">Remover</a>
    </section>

    <section>
        <p>Modo de preparo</p>
        <div id="preparations">
            {% if create %}
                <div class="preparation">
                    <input type="text" name="preparations[]" required>
                </div>
            {% endif %}
            {% for preparation in recipe.preparations %}
                <div class="preparation">
                    <input type="text" name="preparations[]" required value="{{ preparation }}">
                </div>
            {% endfor %}
        </div>
        <a class="add-preparation">Adicionar novo</a>
        <a class="delete-preparation">Remover</a>
    </section>
    
    <section>
        <p>Informações adicionais</p>
        <textarea name="information">{{ recipe.information }}</textarea>
    </section>
</div>