{% extends "../layout.njk" %}

{% block content %}
    <div class="admin-header">
        <h1 id="admin-title">{{ recipe.title }}</h1>

        <div>
            <a class="button" href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
        </div>
    </div>

    {% include "../details-fields.njk" %}
{% endblock content %}
