{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy: receitas</title>
{% endblock %}

{% block content %}
    {% if filter != ""%}
        <h1 class="recipes-filter">Buscando por "{{ filter }}"</h1>
    {% endif %}

    <div class="cards">
        {% for recipe in recipes %}
            <div class="card">
                <a href="/recipeslist/{{ recipe.id }}">
                    <img src="{{ recipe.image_path }}" alt="Imagem de {{ recipe.title }}">
                </a>
                <p class="card-name">{{ recipe.title }}</p>
                <p class="card-author">{{ recipe.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}