@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.links a + a {
    margin-left: 16px;
}

.links a:hover {
    color: var(--color-green);
    font-weight: bold;
    transition: color 300ms;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-green);;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

.active {
    font-weight: bold;
}

/* === CARD === */
#index-create-btn {
    background-color: #282a36;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 32px;
}

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    color: black;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 0.4fr 0.6fr;

    box-shadow: 0px 0px 6px 10px rgba(255, 255, 255, 0.2);

    animation: up 700ms ease-out;

    position: relative;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* details */

.card-details {
    padding: 32px;
}

.card-forms form {
    width: 100%;
}

.card-details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.card-details h3,
.card-details .item div:first-child {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.card-details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.card-details h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.card-details .item span {
    padding: 8px 16px;
    background-color: #f7df1e;
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

/* === FORM === */

input,
select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button,
a.button {
    width: 100%;
    background-color: #282a36;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

select {
    font-size: 16px;
    outline: none;
}

/* === FORM DELETE === */
#form-delete button[type="submit"] {
    background-color: rgb(240, 82, 82);
    margin-top: 8px;
}

/* === INDEX === */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.table-container tr {
    border-bottom: 1px solid #d9d9d9;
}

.table-container tbody tr:last-child {
    border: none;
}

.table-container thead th {
    text-transform: uppercase;
}

.table-container tbody td,
.table-container thead th {
    padding: 16px;
    text-align: left;
}

.table-container tbody td:last-child,
.table-container thead th {
    text-align: center;
}

.table-container tbody td:nth-child(2) span {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    background-color: #f7df1e;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
}

.table-container tbody td a {
    background-color: #282a36;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px -2px black;
}

.table-container tbody td:first-child div {
    display: flex;
    align-items: center;
}

.table-container tbody td:first-child img {
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

/* === FILTER === */
.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    width: 175px;
    margin: 0;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 8px;
}

.table-container .header form input {
    border: 1px solid #eee;
    box-sizing: border-box;
}

/* === PAGINATION === */
.table-container {
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a, 
.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}