{% extends "layout.njk" %}

{% block head %}
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <div 
            class="card-image"
            style="background: url(https://source.unsplash.com/collection/6773393/500x500) no-repeat center center / cover">
        </div>
        <div class="card-details">
            <h3>Dados do Professor</h3>

            {% include 'teachers/fields.njk' %}
        </div>
    </form>
{% endblock %}